<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Communicate | APSIT Alumni</title>
    
    

    <!-- Favicons -->
    <link href="/assets/img/favicon.png" rel="icon">
    <link href="/assets/img/logo.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" crossorigin="anonymous" />
    <link href="/assets/vendor/venobox.min.css" rel="stylesheet">
    <link href="/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/assets/css/style.css" rel="stylesheet">

    <!-- Jquery with fallback -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script type="text/javascript">window.jQuery || document.write('<script src="/assets/vendor/jquery.min.js"><\/script>');</script>


</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top header-inner-pages">
        <div class="container d-flex align-items-center">

            <h1 class="align-items-center mr-auto"><a href="#"><img id="main_logo" src="/assets/img/logo.png" alt="APSIT" height="100px"></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo mr-auto"><img src="/assets/img/logo.png" alt="" class="img-fluid"></a>-->

            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/news">News</a></li>
                    <li><a href="/events">Events</a></li>
                    <li><a href="/contribute">Contribute</a></li>
                    <li class="active"><a href="/communicate">Communicate</a></li>

                    <% if(loggedInUser.role=="admin"){ %>
                        <li><a href="/admin">Admin Panel</a></li>
                        <li><a href="/logout">Logout</a></li>
                    <% } else { %>
                        <li class="drop-down"><a href="#"><%= loggedInUser.firstName %> <i class="fas fa-angle-down"></i></a>
                            <ul>
                                <li><a href="/profile"><i class="fas fa-user pr-1"></i>Profile</a></li>
                                <li><a href="/chats"><i class="fas fa-comments pr-1"></i>Chats</a></li>
                                <li><a href="/logout"><i class="fas fa-sign-out-alt pr-1"></i>Logout</a></li>
                            </ul>
                        </li>
                    <% } %>
                </ul>
            </nav><!-- nav-menu -->



        </div>
    </header><!-- End Header -->

    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs"><br><br><br>
            <div class="container">

                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <ol>
                            <li><a href="/">Home</a></li>
                            <li>Communicate</li>
                        </ol>
                        <h2>Communicate</h2>
                    </div>
          
                    <!-- start flash message -->
                    <% if(successMessage && successMessage.length>0 ){ %>
                        <div class="col-lg-6 col-md-12">
                            <div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 100px;">
                                <div class="toast border border-success" data-autohide="false" style="position: absolute; top: 0; right: 0;">
                                    <div class="toast-header">
                                        <i class="far fa-check-circle text-success"></i>
                                        <strong class="mr-auto">&nbsp;Success.</strong>
                                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                    <div class="toast-body">
                                            <%= successMessage %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    <% } else if(errorMessage && errorMessage.length>0 ){ %>
                        <div class="col-lg-6 col-md-12">
                            <div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 100px;">
                                <div class="toast border border-warning" data-autohide="false" style="position: absolute; top: 0; right: 0;">
                                    <div class="toast-header">
                                        <i class="fas fa-exclamation-circle text-warning"></i>
                                        <strong class="mr-auto">&nbsp;Warning.</strong>
                                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                    <div class="toast-body">
                                            <%= errorMessage %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    <% } %>
                    <!-- end flash message -->

            </div>
        </section><!-- End Breadcrumbs -->

        <section id="communicate" class="services section-bg">
            <div class="container" data-aos="fade-up">
        
                <div class="section-title">
                    <h2>Alumni</h2>

                    <form id="search-form">
                        <div class="d-flex justify-content-center">
                            <input type="text" class="form-control mb-2" id="search-query" name="search-query" placeholder="Search..." required="required" autocomplete="off">
                            <button type="reset" id="search-reset-btn" class="btn btn-transparent mb-2 mr-2" style="margin-left: -37px;"><i class="fas fa-times"></i></button>
                            <button type="submit" class="btn btn-primary mb-2">Search</button>
                        </div>
                    </form>
                </div>
                
                <div id="hide-users">
                    <div class="row">
                        <% for(let i=0; i<countAlumni; i++) { %>
                        
                            <div class="col-xl-4 col-md-6 d-flex align-items-stretch mb-3" data-aos="zoom-in" data-aos-delay="100">
                                <div class="icon-box keep-width d-flex flex-column">
                                    
                                    <% if( alumni[i].profileImage ) { %>
                                        <% if(i<6) { %>
                                            <img class="mx-auto" src="<%=alumni[i].profileImage%>" width="200" height="200">
                                        <% } else { %>
                                            <img src="/assets/img/ui/user-placeholder-200x200.gif" class="lazyload mx-auto" data-src="<%=alumni[i].profileImage%>" alt="Image Not Found" width="200" height="200" onerror="this.onerror=null;this.src='/assets/img/ui/user-placeholder-200x200.gif';">
                                        <% } %>
                                        
                                    <% } else { %>
                                        <div class="text-center">
                                            <i class="fas fa-user" style="font-size: 200px;"></i>
                                        </div>
                                    <% } %>
                                    <div class="text-center">
                                        <hr>
                                        <h4><a href="/profile/<%= alumni[i]._id %> "><%= alumni[i].firstName %> <%= alumni[i].lastName %></a></h4>
                                    </div>
                                    <br>
                                    
                                    <div class="flex-grow-1">
                                        <% if(alumni[i].profile && alumni[i].profile.bio.length>213){%>
                                        <p><%= alumni[i].profile.bio.slice(0,210)+"..." %></p>
                                        <% }else{ %>
                                        <p><%= alumni[i].profile.bio %></p>
                                        <% } %>
                                    </div>
                                    <div><hr></div>
                                    
                                    <br>
                                    
                                    <div class="row text-center">
                                        <div class="col-6"><h4><a href="/profile/<%= alumni[i]._id %> "><i class="fas fa-id-card pr-1"></i>Profile</a></h4></div>
                                        <div class="col-6"><h4><a href="javascript:void(0)" class="chat-link" 
                                            data-href="/chats/<%= alumni[i]._id %>" 
                                            data-name="<%= alumni[i].firstName %> <%= alumni[i].lastName %>"
                                            ><i class="fas fa-paper-plane pr-1"></i>Chat</a></h4>
                                        </div>
                                    </div>
                            
                                </div>
                            </div>
                        <% }; %>
                    </div>
                        
                    
                    <div class="d-flex justify-content-btetween">
                        
                        <% if(page>1 ) { %>
                            <a class="btn next-btn mr-auto"
                            href="/communicate/page?n=<%= Number(page)-1 %>&q=0&i0=<%= firstId %>&i1=<%= lastId %>"
                            ><i class="fas fa-angle-double-left"></i> Prev</a>
                        <% } %>
                        
                            <a class="btn next-btn ml-auto"
                            href="/communicate/page?n=<%= Number(page)+1 %>&q=1&i0=<%= firstId %>&i1=<%= lastId %>">Next
                            <i class="fas fa-angle-double-right"></i></a>
                    </div>
                </div>

                <div class="row" id="search-users-result"></div>
            </div>

            </div>
        </section>

    </main><!-- End #main -->

    <div id="chat-modal" class="modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Notice</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Start/Continue chat with <span id="chat-with" class="font-weight-bold"></span></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <a href="" id="chat-link" class="btn btn-primary">OK</a>
                </div>
            </div>
        </div>
    </div>

    <!-- ======= Footer ======= -->
<footer id="footer">

    <div class="footer-newsletter">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h4>Join Our Newsletter <i class="fas fa-newspaper"></i></h4>
                    <p>To get the latest updates</p>
                    <form id="newsletter-form">
              <input type="email" name="email" id="newsletter-email" placeholder="Enter your email..." required="required">
              <button id="newsletter-submit-btn" type="submit">Subscribe</button>
            </form>
            <div class="small text-center text-warning mt-2 newsletter-invalid-email" style="display: none;"><i class="fas fa-exclamation-circle"></i> Invalid Email Address!</div>
            <div class="small text-center text-danger mt-2 newsletter-request-failed" style="display: none;"><i class="fas fa-exclamation-circle"></i> Request Failed!</div>
            <div class="small text-center text-warning mt-2 newsletter-email-exists" style="display: none;"><i class="fas fa-exclamation-circle"></i> ALready Subscribed!</div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-top">
        <div class="container">
            <div class="row justify-content-around">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>A. P. Shah Institute Of Technology</h3>
                    <p>
                        Survey No. 12, 13,<br>
                        Opp. Hypercity Mall, Kasarvadavali,<br>
                        Ghodbunder Road, Thane West,<br>
                        Thane, Maharashtra 400615<br><br>
                        <strong>Phone:</strong> +91 9022147199<br>
                        <strong>Email:</strong><a href="mailto:alumni@apsit.edu.in"> alumni@apsit.edu.in</a><br>
                    </p>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                      <li><i class="fas fa-angle-right" style="font-size: small; padding: 3px 6px;"></i> <a href="/">Home</a></li>
                      <li><i class="fas fa-angle-right" style="font-size: small; padding: 3px 6px;"></i> <a href="/#about">About us</a></li>
                      <li><i class="fas fa-angle-right" style="font-size: small; padding: 3px 6px;"></i> <a >Terms of service</a></li>
                      <li><i class="fas fa-angle-right" style="font-size: small; padding: 3px 6px;"></i> <a >Privacy policy</a></li>
                    </ul>
                  </div>
          
                  <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Our Social Networks</h4>
                    <p>Stay connected to get latest updates.</p>
                    <div class="social-links mt-3">
                      <a href="#" ><i class="fab fa-linkedin-in"></i></a>
                      <a href="#" ><i class="fab fa-instagram"></i></a>
                      <a href="#" ><i class="fab fa-facebook-f"></i></a>
                      <a href="#" ><i class="fab fa-twitter"></i></a>
                      <a href="#" ><i class="fab fa-youtube"></i></a>
                      
                    </div>
                  </div>

            </div>
        </div>
    </div>

    <div class="container footer-bottom clearfix">
        <div class="copyright">
            &copy; Copyright 2020<strong><span> A. P. Shah Institute Of Technology</span></strong>. All Rights
            Reserved
        </div>
        <div class="credits">

            Designed with ❤ by <a href="">Rajan Khade</a> and <a href="">Chinmay
                Dharap</a>.
        </div>
    </div>
</footer>
<!-- End Footer -->

    <a href="#" class="back-to-top"><i class="fas fa-arrow-up"></i></a>
    <div id="preloader"></div>

    <!-- Vendor JS Files -->

<script src="/assets/vendor/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/contact-email-form/validate.js"></script>
<script src="/assets/vendor/jquery.waypoints.min.js"></script>
<script src="/assets/vendor/jquery.easing.min.js"></script>
<script src="/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
<script src="/assets/vendor/aos/aos.js"></script>
<script src="/assets/vendor/venobox.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.3.2/lazysizes.min.js" crossorigin="anonymous"></script>

    <!-- Template Main JS File -->
    <script src="/assets/js/main.js"></script>

</body>

</html>