<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>News | APSIT Alumni</title>
  
  

  <!-- Favicons -->
  <link href="/assets/img/favicon.png" rel="icon">
  <link href="/assets/img/logo.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" crossorigin="anonymous" />
  <link href="/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet">

  <!-- Jquery with fallback -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script type="text/javascript">window.jQuery || document.write('<script src="/assets/vendor/jquery.min.js"><\/script>');</script>

</head>
<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center">
  
      <h1 class="align-items-center mr-auto"><a href="#"><img id="main_logo" src="/assets/img/logo.png" alt="APSIT" height="100px"></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="/assets/img/logo.png" alt="" class="img-fluid"></a>-->
  
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="/">Home</a></li>
          <li class="active"><a href="/news">News</a></li>
          <li><a href="/events">Events</a></li>
          <li><a href="/contribute">Contribute</a></li>
          <li><a href="/communicate">Communicate</a></li>
  
          <% if(loggedInUser.role=="admin"){ %>
            <li><a href="/admin">Admin Panel</a></li>
            <li><a href="/logout">Logout</a></li>
          <% } else { %>
              <li class="drop-down"><a href="#"><%= loggedInUser.firstName %> <i class="fas fa-angle-down"></i></a>
                  <ul>
                      <li><a href="/profile"><i class="fas fa-user pr-1"></i>Profile</a></li>
                      <li><a href="/chats"><i class="fas fa-comments pr-1"></i>Chats</a></li>
                      <li><a href="/logout"><i class="fas fa-sign-out-alt pr-1"></i>Logout</a></li>
                  </ul>
              </li>
          <% } %>
        </ul>
      </nav><!-- .nav-menu -->
  
  
  
    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs"><br><br><br>
      <div class="container">

        <div class="row">
          <div class="col-lg-6 col-md-12">
              <ol>
                  <li><a href="/">Home</a></li>
                  <li>News</li>
              </ol>
              <h2>News</h2>
          </div>

          <!-- start flash message -->
          <% if(successMessage && successMessage.length>0 ){ %>
              <div class="col-lg-6 col-md-12">
                  <div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 100px;">
                      <div class="toast border border-success" data-autohide="false" style="position: absolute; top: 0; right: 0;">
                          <div class="toast-header">
                              <i class="far fa-check-circle text-success"></i>
                              <strong class="mr-auto">&nbsp;Success.</strong>
                              <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                          <div class="toast-body">
                                  <%= successMessage %>
                          </div>
                      </div>
                  </div>
              </div>
              
          <% } else if(errorMessage && errorMessage.length>0 ){ %>
              <div class="col-lg-6 col-md-12">
                  <div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 100px;">
                      <div class="toast border border-warning" data-autohide="false" style="position: absolute; top: 0; right: 0;">
                          <div class="toast-header">
                              <i class="fas fa-exclamation-circle text-warning"></i>
                              <strong class="mr-auto">&nbsp;Warning         .</strong>
                              <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                          <div class="toast-body">
                                  <%= errorMessage %>
                          </div>
                      </div>
                  </div>
              </div>
              
          <% } %>
          <!-- end flash message -->

      </div>
    </section><!-- End Breadcrumbs -->

    <section id="news" class="services section-bg">
          <div class="container" data-aos="fade-up">
    
            <div class="section-title">
              <h2>News</h2>
            </div>
            <div  id="original" class="row">
    
              <% let tempDate; 
              const months=['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                  days = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];
                  for(let i=0; i<countNews; i++) { 
                    tempDate = news[i].date %>
    
                <div  class="col-xl-4 col-md-6 d-flex align-items-stretch mb-3" data-aos="zoom-in" data-aos-delay="100">
                  <div class="icon-box keep-width d-flex flex-column">
                
                        <% if(i<=5) { %>
                          <img class="mx-auto" src="<%= news[i].thumbnail %>" width="300" height="200" onerror="this.onerror=null;this.src='/assets/img/ui/image-placeholder-300x200.png';" />
                        <% } else { %>
                          <img class="lazyload mx-auto" src="/assets/img/ui/image-placeholder-300x200.gif" data-src="<%= news[i].thumbnail %>" width="300" height="200" onerror="this.onerror=null;this.src='/assets/img/ui/image-placeholder-300x200.png';" />
                        <% } %>
                    <div class="text-center">
                      <hr>
                      <h4><a href="/news/<%= news[i]._id %>"><%= news[i].title %></a></h4>
                    </div>
                
                    <div class="text-center">
                      <i class="far fa-calendar-alt"></i> 
                      <%= `${days[tempDate.getDay()]}, ${("0" + tempDate.getDate()).slice(-2)} ${months[tempDate.getMonth()]} ${tempDate.getFullYear()}` %> 
                    </div>
                    <br>
                    
                    <div class="flex-grow-1">
                      
                    </div>
                  <div>
                      <hr><br>
                      <h4 class="text-center"><a  href="/news/<%= news[i]._id %> "><i class="fas fa-info-circle"></i> More Info</a></h4>
                  </div>
                
                  </div>
                </div>
            <% }; %>
    
            </div>

            <div class="d-flex justify-content-between">

              <% if(page>1 ) { %>
                <a class="btn next-btn mr-auto"
                  href="/news/page?n=<%= Number(page)-1 %>&q=0&i0=<%= firstId %>&d0=<%= firstDate %>&i1=<%= lastId %>&d1=<%= lastDate %>"><i
                    class="fas fa-angle-double-left"></i> Prev</a>
              <% } %>
              
              <a class="btn next-btn ml-auto"
                href="/news/page?n=<%= Number(page)+1 %>&q=1&i0=<%= firstId %>&d0=<%= firstDate %>&i1=<%= lastId %>&d1=<%= lastDate %>">Next
                <i class="fas fa-angle-double-right"></i></a>
            </div>
    
          </div>
        </section>
    

  </main><!-- End #main -->


  <%- include ('../partials/footer'); -%>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.3.2/lazysizes.min.js" crossorigin="anonymous"></script>

</body>

</html>